.FormGroup {
    position: relative;
    width: 100%;
    margin: .5rem;
}

.FormGroup label{
    font-size: 1rem;
    font-weight: 700;
    margin-top: -.2rem;
    display: block;
    transition: all .3s ;
    padding: .8rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-light-dark);
}

.FormGroup select:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
}

.Select {
    height: 38px;
    font-size: 1.4rem;
    margin: 1rem 0;
    width: 100%;
    color: var(--color-primary);
    text-align: center!important;
    outline: none;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    transition: all .2s;
}

.Select select {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white!important;
}

.Select:focus {
    outline: none;
    border-bottom: 3px solid var(--color-primary);
    box-shadow: 0 10px 27px -19px rgba(0,0,0,0.74);
}

.Select:focus:invalid {
    outline: none;
    border-bottom: 3px solid var(--color-tertiary);
    box-shadow: 0 10px 27px -19px rgba(0,0,0,0.74);
}

.Select::placeholder {
    color: lightgrey;
    font-size: 1.2rem;
    font-weight: 700;
}



