.Inline {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.Inline2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.button-step {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 650px) {
    .flex {
        display: block;
    }
}
