.Login {
    min-height: 100vh;
    background-image: radial-gradient(circle 610px at 55.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Login form>div {
    margin: 0;
}

.Login form {
    height: 40rem;
    width: 34rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Login form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: .5px;
    outline: none;
    border: none;
}

.Login form h1 {
    text-align: center;
}

.Login button {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background: #00b8e3 !important;
    opacity: 100;
    border-radius: 10px !important;
}

.Login form label {
    padding-top: 1rem;

}

.Login form input {
    text-align: center;
    color: black !important;
}

.Login form img {
    box-sizing: border-box;
    display: flex;
    padding: 1px 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    margin: 0 auto;
    opacity: 100;
}

.Register {
    position: absolute;
    bottom: 45px;
    right: 2.7rem;
    text-align: center;
}

.Login a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.Register a:hover {
    font-weight: bold;
    filter: brightness(50%);
    transition: all .5s ease;
    -webkit-transition: all .8s ease;
}
